<div class="container">
    <form action="" #form>
        <div>
            <label for="nombre">nombre: </label>
            <input type="text" 
            name="nombre" 
            id="nombre" 
            [value]="articulo.nombre != '' || undefined ? articulo.nombre : ''">
        </div>
        <div>
            <label for="descripcion">descripcion: </label>
            <input 
            type="text" 
            name="descripcion" 
            id="descripcion" 
            [value]="articulo.descripcion != '' || undefined ? articulo.descripcion : ''">
        </div>
        <div>
            <label for="precio">precio: </label>
            <input 
            type="number" 
            name="precio" 
            id="precio"
            [value]="articulo.precio != undefined ? articulo.precio : ''">
        </div>
        <div>
            <label for="imagen">imagen: </label>
            <input 
            type="text" 
            id="imagen"
            name="imagen"
            readonly
            [value]="articulo.imagen != '' || undefined ? articulo.imagen : ''">
        </div>

        <div class="opciones">
            <button 
            (click)="$event.preventDefault()"
            [class]="opcion == 'modif' ? 'hide' : ''">Agregar</button>

            <button 
            (click)="$event.preventDefault();modificar(form)"
            [class]="opcion == 'alta' ? 'hide' : ''">Modificar</button>
        </div>
    </form>
    
    <div id="imagen-preview">
        <h1>Foto existente</h1>
        <img [src]="articulo.imagen == '' || undefined ? 'assets/images/dummy-image-square.jpg' : 'assets/' + articulo.imagen" alt="imagen preview">
        <input 
        type="file" 
        #files 
        (change)="cambiarRutaArchivo(files.files && files.files.length > 0 ? files.files[files.files.length - 1].name : '')">
    </div>
</div>
