:host{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    #titulo{
        padding: 10px 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid lightgray;

        h1{
            font-weight: 600;
        }
    }

    #grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px; 
        width: 100%;
    }
}